@use '../../../styles/mixins' as mx;
@use '../../../styles/variables' as vars;


@mixin button-bar {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 11px;
  margin: 20px 0px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.buttonBar {
  background-color: vars.$pure-white;
  border: 1px solid vars.$inputBox-border-color;
  @include button-bar;
  @include mx.hoverwithBoxShadow();
}

.inActiveButtonBar {
  background-color: vars.$in-active;
  border: 1px solid vars.$in-active-border;
  color: vars.$in-active-text;
  @include button-bar;
}

.active {
  background-color: vars.$active-color;
  border: 1px solid vars.$active-border;
  color: vars.$pure-white;
  @include button-bar;
  @include mx.hover(vars.$active-hover, 0.3s);
}

.textStyle {
  font-size: 18px;
  font-weight: 700;
  line-height: 24.55px;
}