
@use '../../../styles/variables' as vars;
@use '../../../styles/mixins' as mx;

.container {
    display: flex;
    margin: 20px 0px;
    width: 100%;
}

.inputBoxContainer{
    width: 75%;
}

.countryCodeContainer {
    width: 15%;
    display: flex;
    flex-direction: row;
    padding: 8px 12px;
    gap: 8px;
    background-color: vars.$pure-white;
    border: 1px solid vars.$inputBox-border-color;
    border-radius: 12px;
    align-items: center;
    cursor: pointer;
    margin-right: 1rem;
}

.InputBox {
    border: 2px solid vars.$inputBox-border-color;
    padding: 16px 12px;
    border-radius: 12px;
    width: calc(100% - 20px);
    @include mx.hoverwithBorder(vars.$inputBox-border-color, 0.3s);
    @include mx.inputFocus(vars.$inputBox-primary-color, 0.3s);
}

.verticalLine {
    width: 2px;
    height: 20px;
    background-color: vars.$vertical-line;
}

.spacing {
    letter-spacing: 1px;
  }