$tablet-screen: 1150px;
$mobile-screen: 500px;
$default-font-size:16px;
$default-font-weight:normal;
$primary-color: #EBEBED;
$secondary-text-color: #585858;
$gradient-color: #7C7C7C;
$inputBox-border-color: #D6D6D6;
$inputBox-primary-color:#9AB2FF;
$pure-white:#FFFF;
$in-active:#E7E7E7;
$in-active-border:#D0D0D0;
$in-active-text:#A4A4A4;
$active-color:#5D7CE3;
$active-border:#0000001F;
$active-hover:#4A6ACF;
$error-primary:#FF6868;
$error-secondary:#FDBFBF;
$error-testory:#FFF7F7;
$input-box-border:#A0A0A0;
$vertical-line:#E8E8E8;
$re-send-color:#305DF0;
$re-send-text-color:#888888;




